body{
    padding-top: 80px;
}

.main_title {
    font-size: 2em;
    color: red;
}

.avatarForm {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 100%;
}



.comment {
    color: gray;

}

.card-question {
    padding: 20px;
    background: #d4e2f9 !important;
    border-color: #d4e2f9 !important;
    margin-bottom: 20px;
}

.card_answer{
    margin-bottom: 20px;
}

.navbar{
    margin-bottom: 20px;

}

.navbar a:visited {
color: white;
}

.vote_buttons{
    text-align: center;
}