body{
    padding-top: 50px;
}

.main_title {
    font-size: 2em;
    color: red;
}

.avatarForm {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 100%;
}

.comment {
    color: gray;

}

.card-question {
    padding: 20px;
    background: lightblue !important;
    border-color: #d4e2f9 !important;
    margin-bottom: 20px;
}

.card_answer{
    margin-bottom: 20px;
}

.navbar{
    margin-bottom: 20px;
    padding-top: 5px;

}

.vote_buttons{
    text-align: center;
}

/*profile_page
 */

.avatar_profile{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: lightgrey 1px solid;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Homemade Apple', cursive;
    background-color: white;
    font-size: 10em;
    color: white;
}

.avatar_profile_letter{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: yellow 2px solid;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Homemade Apple', cursive;
    background-color: yellow;
    font-size: 10em;
    color: white;
}

.avatar_menu-letter{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: yellow 1px solid;
    background-repeat: no-repeat;
    background-color: yellow;
    background-size: cover;
    font-family: 'Homemade Apple', cursive;
    font-size: 2em;
    color: #222;
}

.avatar_menu{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    font-family: 'Homemade Apple', cursive;
    font-size: 2em;
    color: white;
}

.avatar_post_author{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: lightgrey 1px solid;
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
}

/*banner*/

.index_create_post_button{
text-align: center;
    margin-bottom: 40px;

}

.banner{
    height: 190px;
    margin-bottom: 40px;
    background-size: cover;
    image-orientation: flip;
}

.navbar-brand{
    font-family: 'Homemade Apple', cursive;
    font-size: 3em !important;
    color: lightblue !important;

}

/*index
 */
.glyphicon.glyphicon-question-sign{
    font-size: 40px;
}

.glyphicon.glyphicon-ok{
    color: green !important;
    font-size: 50px;
}

.resolved{
    color: forestgreen;
    font-weight: bold;
    text-align: right;
    margin-left: 5px;
}

.not_resolved{
    color: darkorange;
    font-weight: bold;
    text-align: right;
    margin-left: 5px;
}

.recent_questions_title{
    font-family: 'Homemade Apple', cursive;
    text-align: right;
    margin-bottom: 30px;
    border-bottom: lightgray solid 2px;

}

.date_and_user{
    font-size: 0.8em;
    text-align: right;
    margin-top: 5px;
}

.thumbnail.post_thumbnail{

}

.buttons_action{
    display: flex;
    justify-content: center;

}

.modal_post{
    padding: 50px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{
    background-color: #98fb98;
    color:#BF3E26;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
    background-color: #1C8C42;
    color: #ffffff;
    border: 1px solid #dddddd;
}

.pagination>.active>span{
    background-color: lightblue !important;
    border-color: lightblue !important;
}

/*show
 */

.label-eval{
    font-size: 1.5em;
    margin-top: 5px;
}

.voteup{
    margin-bottom: 5px;
    font-size: 1.5em;
}

.votedown{
    margin-top: 10px;
    font-size: 1.5em;
}

.proofreader_confirmation_panel{
    text-align: center;
    padding: 20px;
}

.login_container{
margin-top: 50px;
}

.register-container{
    margin-top: 50px;
}

.profile_container{
    margin-top: 50px;
}

.user_question{
    margin-top: 50px;
}

.footer_delete{
    display: flex;
}



