{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block content %}
<div class="container profile_container">
    {% include 'profile/user_profile_infos.html.twig' %}
    {% include 'profile/user_profile_history.html.twig' %}
</div>

    <div id="chart_div"></div>

    <script src="{{ asset('assets/js/main.js') }}"></script>

{% endblock %}
