<div class="panel-body">
<ul>
    <li>{{ postResponse.text }}</li>
    <li>Auteur : {{postResponse.user }}</li>
    {% if postResponse.comment %}<li class="comment">{{ postResponse.comment }}</li>{% endif %}

    {# <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> #}
    </ul>
</div>
<div class="panel-footer">
    {% if postResponse.createdAt %}<div>{{ postResponse.createdAt|date('Y-m-d H:i:s') }}</div>{% endif %}
</div>