<div class="panel-body">
    <p>{{ postResponse.text }}</p>
    {% if postResponse.comment %}<p class="comment">Commentaire :</p><p class="comment">{{ postResponse.comment }}</p>{% endif %}

    {# <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> #}
</div>
<div class="panel-footer panel_footer_postresponse">
    <div>Posté le {{ postResponse.createdAt|date('Y-m-d H:i:s') }}</div>
    <div class="hidden-md hidden-lg hidden-sm">
        <span>par </span>
        <span class="panel_footer_postresponse_author">{{ postResponse.getUser() }}</span>
    </div>
</div>