{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'menu.html.twig' %}


<div class="panel panel-default col-md-6 col-md-offset-3 proofreader_confirmation_panel">
<h3>Confirmez-vous vouloir obtenir le rôle de correcteur ?</h3>


    <a href="{{ path('proof_reader_role') }}" class="btn btn-info">Oui</a>
    <a href="{{ path('homepage') }}" class="btn btn-info">Non</a>

</div>

{% endblock %}