{% extends 'base.html.twig' %}

{% block content %}
    {% include 'menu.html.twig' %}
    <h1>Quiz</h1>



    <a href="{{ path('proof_reader_role') }}" class="btn btn-info">Valider</a>


{% endblock %}