{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'menu.html.twig' %}


<div class="panel panel-default col-md-6 col-md-offset-3 proofreader_confirmation_panel">
<h2>Confirmation du rôle de correcteur</h2>


    <a href="{{ path('proof_reader_role') }}" class="btn btn-info">Valider</a>

</div>

{% endblock %}