{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="container container_full_page" style="padding-bottom:60px">
    {% include "@FOSUser/Registration/register_content.html.twig" %}
</div>
{% endblock fos_user_content %}

