<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row_post_answer">
    <div class="col-md-1 col-sm-1 col-xs-2">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% if postAnswer.score >= 3 %}
                <span class="glyphicon glyphicon-ok" ></span>
            {% endif %}
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 vote_buttons">
            <span class="label label-info label-eval">
                {{ postAnswer.score }}
            </span>
        </div>
    </div>

    <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="panel panel-default card_answer">
            {% include 'postanswer/prototype-post-answer-show.html.twig' with {postAnswer: postAnswer} only %}
        </div>
    </div>


    <div class="col-md-1 col-sm-1 hidden-xs ">
        <div class="avatar_post_response_author" style="background-image:url('{{asset('/avatars/'~postAnswer.user.getAvatarFilename()) }}')"></div>
        <!--<div class="avatar_pseudo" style="text-align: center">{{ postAnswer.user }}</div>-->
    </div>
</div>