<!-- Modal -->
<div id="myModal{{ loop.index }}" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content col-lg-5 col-lg-offset-3">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body modal_post_show">
                <p>
                    <a href="{{ path('post_show', { 'id': post.id }) }}" class="btn btn-default post_consult">Consulter</a>
                </p>
                <p class="ou_modal">OU</p>
                <p>
                    <a href="{{ path('post_proofreader_show', { 'id': post.id }) }}" class="btn btn-info post_contrib">Poster une réponse</a>
                </p>
            </div>
        </div>
    </div>
</div>