<div class="user_question">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 avatar_pseudo_container">
            <div class="avatar_post_author" style="background-image:url('{{asset('/avatars/'~post.user.getAvatarFilename()) }}')"></div>
            <div class="avatar_pseudo">{{ post.user }}</div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <!--<div class="panel panel-default card-question">-->
                    <p>{{ post.text }}</p>
                </div>
                <div class="panel-footer panel-footer-question">
                    <div >Posté le {{ post.createdAt|date('y-m-d à H:i') }}</div>
                </div>
            </div>
        </div>
    </div>
</div>